<%= provide(:title, "Reset Password") %>

<h1>Reset Password</h1>

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :password, "new password" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "confirm new password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
<% end %>